.current-weather-wrapper {
  text-align: center;
  height: 100%;
}

.forecast-weather-wrapper {
  height: 100%;

  .forecast-item {
    text-align: center;
  }
}

.sort-button {
  text-align: right;
}

ion-input {
  padding: 5px;
}

form {
  p {
    display: none;
  }

  .error {
    display: block;
    color: red;
  }
}

